@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Merriweather';
}

.tooltip {
    display: none;
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-display: swap;
    src: url(~/assets/fonts/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-display: swap;
    src: url(~/assets/fonts/Merriweather-Regular.ttf) format('truetype');
}

.elevation-1 {
    border: 1px solid slategray;
}

.elevation-6 {
    border: 2px solid slategray;
}

.elevation-7 {
    border: 2px solid slateblue;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 4px lightgrey;
}

.card-title {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    font-size: x-large;
    text-align: center;
    margin: .4rem;
    font-family: "Russo One" !important;
}

.card-text {
    /* font-weight: lighter; */
}

.card-subtitle {
    font-weight: lighter;
    text-align: center;
}

.card-actions {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    justify-content: center;
}

.settings-button {
    font-family: 'Russo One';
    padding: 1rem;
    width: 20vw;
    min-width: fit-content;
    user-select: none;
    border: 1px solid slateblue;
}

.settings-option {
    font-family: 'Russo One';
    padding: .4rem;
    text-align: initial;
    font-weight: normal;
    user-select: none;
}

.settings-option, .settings-option > * {
    cursor: pointer;
}
.settings-option:hover {
    text-decoration: underline;
}

.settings-label {
    font-family: 'Russo One';
    font-weight: lighter;
}
