@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Merriweather';
}

.tooltip {
    display: none;
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-display: swap;
    src: url(~/assets/fonts/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-display: swap;
    src: url(~/assets/fonts/Merriweather-Regular.ttf) format('truetype');
}

.elevation-1 {
    border: 1px solid slateblue;
    box-shadow: 1px 1px 2px slateblue;
}

.elevation-6 {
    border: 2px solid transparent;
    box-shadow: 5px 5px 3px slateblue;
}

.elevation-7 {
    border: 2px solid slateblue;
    box-shadow: 5px 5px 4px slateblue;
}

.justify-center {
    justify-content: center;
}

.card {
    border-radius: 5px;
    box-shadow: 1px 1px 4px lightgrey;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-weight: lighter;
}

.card-subtitle {
    font-weight: lighter;
    text-align: center;
}

.text {
    border: 0;
}

.text:hover {
    text-decoration: underline;
}

.outlined {
    border: 1px solid slateblue;
    border-radius: 3px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.text-xxl {
    font-size: xx-large;
}

.p-4 {
    padding: .4rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.settings-button {
    font-family: 'Russo One';
    padding: 1rem;
    max-width: fit-content;
    user-select: none;
}

.settings-option {
    font-family: 'Russo One';
    padding: .4rem;
    text-align: initial;
    font-weight: normal;
    user-select: none;
}

.settings-label {
    font-family: 'Russo One';
    font-weight: lighter;
}
